@font-face {
    font-family: 'Klinic Slab';
    src: url('assets/fonts/klinic/klinicslabmediumit-webfont.eot');
    src: url('assets/fonts/klinic/klinicslabmediumit-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/klinic/klinicslabmediumit-webfont.woff2') format('woff2'),
         url('assets/fonts/klinic/klinicslabmediumit-webfont.woff') format('woff'),
         url('assets/fonts/klinic/klinicslabmediumit-webfont.ttf') format('truetype'),
         url('assets/fonts/klinic/klinicslabmediumit-webfont.svg#klinic_slabmedium_italic') format('svg');
    font-weight: 400;
    font-style: italic;
}
* {
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: inherit;
}
#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	width: 80%;
	max-width: 250px;
	height: 100%;
	min-height: 460px;
	background: #222527;
	overflow: hidden;
	box-shadow: inset -25px 0 24px -10px #111;
}
#profile {
	height: 75px;
	width: 75px;
	border-radius: 45px;
	background: url('assets/garfield.jpg');
	background-size: cover;
	margin: 24px auto;
}
#sidebar h1 {
	color: #fff;
	font-size: 26px;
	text-align: center;
	margin-bottom: 25px;
	font-family: 'Klinic Slab', serif;
	font-style: italic;
}
#resume,
#sidebar button {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	display: block;
	color: #777;
	font-size: 16px;
	cursor: pointer;
	margin: 0 auto;
}
#resume {
	width: 110px;
	padding: 0 10px;
	text-align: center;
	transition: 0.15s all ease-in-out;
	position: relative;
	right: 0;
}
#resume:hover {
	color: #fff;
	right: 8px;
}
#resume::after {
	content: "";
	background: url('assets/icons/arrow.png');
	transition: 0.15s all ease-in-out;
	width: 8px;
	height: 12px;
	position: absolute;
	top: 3px;
	right: 18px;
	opacity: 0;
}
#resume:hover::after {
	opacity: 1;
	right: 0;
}
#sidebar button {
	width: 130px;
	border: 2.5px solid #777;
	background: transparent;
	padding: 12px 30px;
	margin-top: 20px;
	border-radius: 6px;
	transition: 0.1s all ease-in-out;
}
button#github:hover {
	background: #4183C4;
	border: 2.5px solid transparent;
	box-shadow: 0 -1px 0 #87B8E9, 0 0 8px #000;
	color: #fff;
}
button#vimeo:hover {
	background: #1ab7ea;
	border: 2.5px solid transparent;
	box-shadow: 0 -1px 0 #9BE7FF, 0 0 8px #000;
	color: #fff;
}
button#dribbble:hover {
	background: #ea4c89;
	border: 2.5px solid transparent;
	box-shadow: 0 -1px 0 #E48CAF, 0 0 8px #000;
	color: #fff;
}
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
	#resume::after {
		background: url('assets/icons/arrow@2x.png') 0 0 / 8px 12px;
	}
}